.css-selectors-examples {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2.5rem;
}

.css-selectors-examples pre {
    margin: 0;
}

.css-selectors-examples header {
    grid-area: header;
}

.example__code {
    grid-column: 1 / span 2;
}

.example__code pre {
    display: flex;
    height: 100%;
}

.example__code code {
    padding-left: 2rem;
    padding-right: 2rem;
    flex: 1;
}

.example__description {
    grid-column: 1 / span 2;
}

.example__result {
    grid-column: 1 / span 2;
}


.css-selectors-examples [data-label] {
    padding-top: 1.5rem;
    position: relative;
}
.css-selectors-examples [data-label]:before {
    content: attr(data-label);
    position: absolute;
    top: 0rem;
}

@media screen and (min-width: 110ch) {
    .example__code {
        grid-column: initial;
    }
}
