.page-footer {
	height: var(--header-height);
	background-color: var(--code-background);
	grid-column-start: 1;
	grid-column-end: 4;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-footer code {
	background-color: rgba(255, 255, 255, 0.05);
  	border: 1px solid rgba(255, 255, 255, 0.15);
}

.page-footer a:hover {
	text-decoration: none;
}

.page-footer__link-wrapper {
	display: block;
	text-align: left;
	font-family: "Fira Code";
}

.page-footer__link {
	text-decoration: none;
	color: var(--code-attribute);
}

.page-footer__link:hover,
.page-footer__link:focus,
.page-footer__link:active {
	border-bottom: none;
}

.page-footer__link .page-footer__code-decoration {
	opacity: 1;
}

.page-footer__name {
	color: var(--code-selector);
}

.page-footer__property {
	color: var(--code-property);
}

.page-footer__property--value {
	color: var(--code-value);
}
