.page-header {
	text-align: center;
	position: relative;
	min-height: var(--header-height);
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--code-background);
}
