:root {
  --code-background: #263238;
  --code-comment: #61737e;
  --code-selector: #FFD47E;
  --code-property: #8FD2CE;
  --code-value: #BED5DD;
  --code-text: #DEE3E9;
  --code-attribute: #98E3FF;
  --code-element: #FA516D;
  --code-string: #CAE69C;
  --code-keyword: #c792ea;
  --code-number: #f78556;
  --code-regex: #69a5ff;

  --header-height: 6rem;
  --default-spacing: 0.5rem;
  --double-spacing: calc(var(--default-spacing) * 2);

  --line-height: 1.5;
}

html {	
	font-family: 'Roboto';
  line-height: var(--line-height);
}

body {
  margin: 0;
  display: grid;
  grid-column-gap: var(--default-spacing);
  grid-row-gap: var(--double-spacing);
  grid-template-columns: 1fr minmax(0, 1024px) 1fr;
  grid-template-rows: max-content max-content 1fr max-content;
  min-height: 100vh;
}

body > * {
  grid-column-start: 2;
  grid-column-end: 2;
}

p {
	margin: 0;
}

p + p {
	margin-top: 1rem;
}

code {
  color: var(--code-element);
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-weight: normal;
}

a {
  color: var(--code-regex);
  text-decoration: none
}

a > code {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

a:hover > code {
  text-decoration-color: var(--code-regex);
}

@media (min-width: 600px) {
  :root {
    --default-spacing: 1rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --default-spacing: 1.5rem;
  }
}
