.css-selectors-examples {
    display: grid;
    grid-column-gap: var(--default-spacing);
    grid-row-gap: var(--double-spacing);
}

.css-selectors-examples pre {
    margin: 0;
}

.css-selectors-examples header {
    grid-area: header;
}

.example__code {
    grid-column: 1 / span 2;
	overflow-x: auto;
}

.example__code pre {
    display: flex;
    height: 100%;
}

.example__code code {
    padding: var(--default-spacing);
    flex: 1;
}

.example__description {
    grid-column: 1 / span 2;
}

.example__result {
    grid-column: 1 / span 2;
}


.css-selectors-examples [data-label] {
    padding-top: 1.5rem;
    position: relative;
}
.css-selectors-examples [data-label]:before {
    content: attr(data-label);
    position: absolute;
    top: 0rem;
}

@media screen and (min-width: 110ch) {
    .example__code {
        grid-column: initial;
    }
}
